* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
